<h3>Cuisine types:</h3>

<ul>
  <% @user.cuisine_types.each do |c_t| %>
    <li> <%= c_t.capitalize %> </li>
  <% end %>
</ul>

<h3>Recipes:</h3>

<ul>
  <% @user.recipes.each do |recipe| %>
    <li> <%= link_to recipe.name.capitalize, recipe_path(recipe) %> </li>
  <% end %>
</ul>

<%= button_to "Add a new recipe", new_recipe_path, method: :get %>
