<h3>Average Order Total:</h3>
<ul>
<li>£<%=@user.average_order_total%></li>
</ul>

<%= button_to "See all cooksters", users_path, method: :get %>
<%= button_to "See all Recipes", recipes_path, method: :get %>
