<h2>Most Popular Cookster(s)</h2>
<ul>
  <% User.most_popular_cooks.each do |cookster_id, value| %>
    <li> <%= link_to User.find(cookster_id).name, see_cookster_path(User.find(cookster_id)) %> </li>
  <% end %>
</ul>

<h1>All Cooksters:</h1>

<ul>
<% @users.each do |user|%>
  <li><%= link_to user.name, see_cookster_path(user) %> | Address: <%= user.address %> </li>
<% end %>
</ul>
